/*
**   Copyright Greysphere Ltd 2006
**   
**
**
**
**
*/
.arrow{
	margin-bottom: 20px;
}
.page{
	position:absolute;
	width:702px;
	height:580px;
	z-index:1;
	left:162px;
	top: 0px;
	overflow: hidden;
	background-color:#FFFFFF;
	padding-left:0px;
	padding-top:20px;
	margin-top: 10px;
}


.introhd, .introbd{
	
	text-decoration : none;  
	font-family: verdana, Arial, Helvetica, sans-serif;
	padding-bottom:20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;	
}

.introhd{
	color : #06608D;  
	font-size : 14pt; 
	padding-top:20px;
	font-weight : bold; 

}

.introbd{
	color : #444444;  
	font-size : 8pt; 
	padding-top:10px;
	font-weight : normal; 
}


.normal{
	color : #000000;  
	font-weight : normal; 
	text-decoration : none;  
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size : 11px; 
	padding-left: 10px;
	margin-right: 15px;
	text-align: left;	
}

.title{
	color : #006699;  
	font-weight : bold; 
	text-decoration : none;  
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size : 10pt; 
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 10px;
	padding-right: 20px;
}

.label{
	color : #006699;  
	font-weight : bold; 
	text-decoration : none;  
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size : 12px; 
        width: 30%;	
}

.btn{
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	font-style: bold;
	color: #003399;
	border : 1px solid #003399;	
	background-color : #D1D1D3;
	padding : 0px 8px 0px 8px;
	}
.btnhvr{
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	font-style: bold;
	color: #003399;
	border : 1px solid #003399;	
	background-color : #FFFFFF;
	padding : 0px 8px 0px 8px;
	cursor: hand;
	}


.contentblock{
	position:absolute;
	width:700px;
	height:400px;
	z-index:2;
	left: 0px;
	top: 90px;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	border: 1px solid #cccccc;
	overflow: hidden;
	background-image: url(images/bg.gif);
	layer-background-image: url(images/bg.gif);
}


span.tab{
	display: block;
	float: left;
	cursor:pointer;
	width:40px;
	background-color:#FFFFFF;
	vertical-align:top;
	text-align:center;
	height:400px;
	max-height: 400px;
	/*background-image: url(images/tab-bg.png);
	background-repeat: repeat-y;*/
	/*border-right: 2px solid #535353;
	border-bottom: 2px solid #535353;
	border-left: 2px solid #9C9D9D;
	border-top: 2px solid #9C9D9D;*/
	padding-top: 10px;
}


div.content{
	/*position: absolute;*/
	/*display: block;*/
	top: 0px;
	padding-top: 10px;
	padding-bottom: 20px;
	vertical-align: top;
	/*height: 396px;*/
	overflow: auto;	
	background-color:#FFFFFF;
	height:370px;
	/*width: 560px;
	margin: 0px 0px 0px 0px;*/
}


div.slider{
	position:absolute;
	width:500px;
	height:400px;
	/*z-index:5;*/
	background-color: #FFFFFF;
	border: 0px solid #000000;
	
}

.date{
	font-size: 10px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	color: #006699;	
	align:top;
}

.heading {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CCCCCC;
}

.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	padding-top: 8px;
	text-decoration: none;
}

div.footer{
	position:absolute; 
	width:700px;
	height:45px;
	z-index:5;
	left: 0px;
	top: 520px;
	
}

a.footer{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-decoration: none;	
}

a.footer:hover{
	color: #666666;
	background-color: #FFFFFF;
	text-decoration: underline;	
}

.filter {
	filter: Alpha(Opacity=100, FinishOpacity=0, Style=1, StartX=0, StartY=0, FinishX=700, FinishY=520);
}


.p2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 25px;
}

.floatimgr{
	float:right;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

ul.bullet{
	list-style-type: disc;
	list-style-image: url(images/bullet.gif);
	list-style-position: inside;
	margin-left: 0px;
	text-indent: 0em;
}

ul.bullet li{
	margin: 3px 2px 9px 5px;	
}

