/*
**   Copyright Greysphere Ltd 2005
**
**
**
**
**
*/

body{
	color : #000000;
	font-weight : normal;
	text-decoration : none;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	overflow:hidden;
	background-color:#FFFFFF;
}



a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #006699;
/*
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
*/
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
/*	background-color: #006699;*/
}


h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	font-variant: small-caps;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-align: justify;
}

textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background-color: transparent;

}

input {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background-color: transparent;
}

hr{
	color: #006699;
	margin: 10px 20px 20px 0px;
}
